<% content_for :page_title do %>
  <%= Spree.t(:stock_removals) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<script type='text/template' id='transfer_variant_template'>
  {{#each variants}}
    <tr>
      <td>{{name}}</td>
      <td class='align-center'>{{quantity}}</td>
      <td class='actions'>
        <button class='icon_link icon-trash no-text transfer_remove_variant'
                data-variant-id='{{id}}' data-action'remove'></button>
      </td>
      <input type='hidden' id='variant[]' name='variant[]' value='{{id}}'>
      <input type='hidden' id='quantity[]' name='quantity[]' value='{{quantity}}'>
    </tr>
  {{/each}}
</script>

<%= form_tag admin_stock_removals_path, :method => :post do %>
  <fieldset class="fourteen columns alpha", id="stock-removals">
    <legend align="center"><%= Spree.t(:stock_removals) %></legend>

    <div class="row" data-hook="admin_stock_removals_form_fields">
      <div class="alpha seven columns">
        <div class="field" id="stock_location_id_field">
          <%= label_tag :stock_location, Spree.t(:stock_location) %>
          <%= select_tag :transfer_source_location_id, {}, class: 'select2 fullwidth' %>
        </div>
      </div>

      <div class="alpha seven columns">
        <div class="field" id="email_field">
          <%= label_tag :email, Spree.t(:email) %>
          <%= hidden_field_tag :customer_search,  nil, :class => 'fullwidth title' %>
          <%= render :partial => "spree/admin/orders/customer_details/autocomplete", :formats => :js %>
        </div>
      </div>
    </div>

    <fieldset class="no-border-bottom" id="no_charge_payment">
      <legend><%= Spree.t(:no_charge_payment) %></legend>

      <div class="alpha seven columns">
        <div class="field" id="no_charge_note_field">
          <%= label_tag nil, Spree.t(:no_charge_note) %>
          <%= text_field_tag :no_charge_note %>
        </div>
      </div>

      <div class="alpha seven columns">
        <div class="field" id="no_charge_code_field">
        <%= label_tag nil, Spree.t(:no_charge_code) %>
        <%= select_tag :no_charge_code, options_for_select(Spree::PaymentMethod::NoCharge::CODES), {:prompt => "--select Reason Code--", :class => 'required select2 fullwidth'} %>
      </td>
      </div>
    </fieldset>

    <fieldset class="no-border-bottom" id="add-variant-to-transfer">
      <legend><%= Spree.t(:add_variant) %></legend>

      <div class="alpha eight columns">
        <div class="field" id="stock_movement_variant_id_field">
          <%= label_tag 'variant_id', Spree.t(:variant) %>
          <%= select_tag 'transfer_variant', {}, class: 'fullwidth' %>
        </div>
      </div>

      <div class="one columns">
        <div class="field" id="stock_field">
          <%= label_tag 'stock', Spree.t(:stock) %>
          <%= text_field_tag 'stock', 1, class: 'fullwidth', min: 0 %>
        </div>
      </div>

      <div class="two columns">
        <div class="field" id="stock_movement_quantity_field">
          <%= label_tag 'quantity', Spree.t(:quantity) %>
          <%= number_field_tag 'transfer_variant_quantity', 1, class: 'fullwidth', min: 0 %>
        </div>
      </div>

      <div class="two columns omega">
        <div class="field" style="padding: 25px 0 0 0 !important">
          <%= button Spree.t(:add), 'icon-plus button transfer_add_variant' %>
        </div>
      </div>
    </fieldset>

    <div class="alpha fourteen columns no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/variant')) %>
    </div>

    <div id="transfer-variants-table" class="fourteen columns alpha" style="display:none">
      <table class="index sortable">
        <colgroup>
          <col style="width: 70%" />
          <col style="width: 20%" />
          <col style="width: 10%" />
        </colgroup>
        <thead data-hook="transfer_variants_header">
          <th><%= Spree.t(:name) %></th>
          <th><%= Spree.t(:quantity) %></th>
          <th class="actions"></th>
        </thead>
        <tbody id="transfer_variants_tbody">

        </tbody>
      </table>
    </div>

  </fieldset>
  <div class="actions filter-actions" align="center">
    <%= button_link_to Spree.t(:stock_removal), spree.admin_stock_removals_path, :icon => 'icon-plus', :id => 'add_stock_removal' %>
  </div>
<% end %>
